.python-editor {
  margin: 20px 0;
  border: 3px solid #777777;
  padding: 15px;
  border-radius: 10px;
  background-color: #b9c4ff;
  margin: 3% auto;
  width: 90%;
  padding: 3%;
  font-size: clamp(12px, 5vw, 20px);
}

.python-editor.correct {
  background-color: #8dff8d; /* green */
}

.python-editor.incorrect {
  background-color: #ff8d8d; /* red */
}

.python-editor textarea {
  margin: 2% auto;
  width: 100%;
  font-family: monospace;
  font-size: 14px;
  background-color: #c5cce6;
  font-size: clamp(9px, 5vw, 15px);
}

.python-editor .instructions {
  margin-bottom: 10px;
}

.python-editor .output {
  margin: 3%;
  background: #222;
  color: #0f0;
  padding: 10px;
  border-radius: 5px;
  min-height: 50px;
  overflow-x: auto;
  
}

.python-editor .feedback {
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  background-color: #36ff65;
}
.wrong {
  background-color: #ff8c96;
}

.pythonbtn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background-color: #6a80ff;
  color: black;
  cursor: pointer;
  font-size: clamp(14px, 3vw, 18px);
  border: solid 1px rgb(59, 56, 56);
}
.pythonbtn:hover {
  background-color: #3d4fb8;
  color: white;
}
.pythonbtn:active {
  background-color: #283374;
}
