.python-editor {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #b2cdff;
}

.python-editor.correct {
  background-color: #8dff8d; /* green */
}

.python-editor.incorrect {
  background-color: #ff8d8d; /* red */
}

.python-editor textarea {
  width: 100%;
  font-family: monospace;
  font-size: 14px;
  margin-top: 10px;
  background-color: #fff1b2;
}

.python-editor .instructions {
  margin-bottom: 10px;
}

.python-editor .output {
  margin-top: 10px;
  background: #222;
  color: #0f0;
  padding: 10px;
  border-radius: 5px;
  min-height: 50px;
  overflow-x: auto;
}

.python-editor .feedback {
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  background-color: #36ff65;
}
.wrong {
  background-color: #ff8c96;
}
