.text-container {
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: right;
  width: 90%;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

span {
  font-size: clamp(20px, 6vw, 25px);
}