.matcher-container {
  position: relative;
  border-radius: 10px;
  border: 3px solid #777777;
  background-color: #d4fbfc;
  margin: 3% auto;
  width: 90%;
  padding: 3%;
  font-size: clamp(12px, 5vw, 20px);
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column-a,
.column-b {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  padding: 8px 12px;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a2edf0;
  transition: all 0.2s;
}

.item:hover {
  background-color: #e0e0e0;
}

.item.selected {
  background-color: #d0f0ff;
  border-color: #3399ff;
}

.lines-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.feedback {
  margin-top: 15px;
  font-weight: bold;
}
.matcherbtn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background-color: #00bac0;
  color: black;
  cursor: pointer;
  font-size: clamp(14px, 3vw, 18px);
}
.matcherbtn:hover {
  background-color: #14777a;
  color: #ffffff;
}
.matcherbtn:active {
  background-color: #165e61;
}
.mcq-buttons {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;        /* center vertically (optional) */
  gap: 12px;                  /* spacing between buttons */
  margin-top: 16px;           /* optional spacing */
}