h2 {
    text-align: center;
}

.multiple-mcq-container {
  max-width: 600px;
  padding: 15px;
  font-family: sans-serif;
  border-radius: 10px;
  font-size: clamp(15px, 4vw, 20px);
  border: 3px solid #777777;
  background-color: #fcd4fc;
  margin: 3%;
  padding: 3%;
}

.multiple-mcq-question {
  margin-bottom: 12px;
  text-align: right;
}

.multiple-mcq-choices {
  margin-bottom: 12px;
}

.multiple-mcq-choice {
  display: block;
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 6px;
  border: 2px solid #5c5b5b;
  cursor: pointer;
  user-select: none;
  background-color: #ffafff;
  transition: background-color 0.2s;
}
.multiple-mcq-choice:hover {
  background-color: #946594;
  color: white;
}
.multiple-mcq-choice.selected {
  background-color: #e0e0e0;
  color: black;
}

.multiple-mcq-choice.correct {
  background-color: #4caf50;
  color: white;
}

.multiple-mcq-choice.wrong {
  background-color: #f44336;
  color: white;
}

.multiple-mcq-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.multiplemcqbtn {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  font-size: 18px;
  background-color: #ff73e1;
  color: black;
  border: 1px solid #666666;
  border-radius: 6px;
  cursor: pointer;
}
.multiplemcqbtn:hover {
  background-color: #b451b4;
  color: white
}
.multiplemcqbtn:active {
  background-color: #723574;
}

.feedback {
  margin-top: 12px;
  font-weight: bold;
  font-size: clamp(14px, 3vw, 18px);
}
