.mcq-container {
  margin-bottom: 20px;
  text-align: right;
  font-size: clamp(24px, 5vw, 32px);
  border: 3px solid #777777;
  background-color: #d5fcd4;
  margin: 3% auto;
  width: 90%;
  padding: 3%;
  border-radius: 10px;
}
.question {
  text-align: right;
}
.choices li {
  list-style: none;
  margin: 5px 0;
  text-align: right;
  font-size: clamp(24px, 5vw, 32px);
}
.correct {
  background-color: #36ff65;
}
.wrong {
  background-color: #ff8c96;
}
.feedback {
  margin-top: 10px;
  font-weight: bold;
}
.mcqbtn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background-color: #70ff6d;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: clamp(14px, 3vw, 18px);
  border: 1px solid #6b6d00;
  transition: background-color 0.2s ease;
}
.mcqbtn:hover {
  background-color: #37ad35;
  color: #ffffff;
}
.mcqbtn:active {
  background-color: #027700;
}
.mcq-buttons {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;        /* center vertically (optional) */
  gap: 12px;                  /* spacing between buttons */
  margin-top: 16px;           /* optional spacing */
}

